.boardWindow {
  display: flex;
  padding: 0;
  overflow: unset;
}

.boardWindow .board {
  box-sizing: border-box;
  width: var(--board-size);
  height: var(--board-size);
  min-height: var(--board-size);
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  position: relative;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  border-right: none;
}

.boardWindow .board cg-container {
  height: var(--board-size) !important;
  width: var(--board-size) !important;
}

.boardWindow .board coords.ranks,
.boardWindow .board coords.ranks coord {
  top: 0;
  left: 0;
}

.boardWindow .board coords.ranks coord {
  transform: translate(0.25rem, 0.25rem);
}

.boardWindow .board coords.files,
.boardWindow .board coords.files coord {
  bottom: 0;
  right: 0;
  left: unset;
  text-align: right;
}
.boardWindow .board coords.files coord {
  transform: translate(-0.25rem, -0.25rem);
}

.boardWindow .board coords coord {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}

.engineComponent .board coords,
.enginePV .board coords {
  display: none;
}

.boardWindow .board.noCoordinates coords {
  display: none;
}

@media (max-width: 1150px) {
  .boardWindow .board {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .boardWindow .board cg-board {
    border-radius: 0px;
  }
}

@media (max-width: 775px) {
  .boardWindow .board {
    grid-column: 1 / 2;
    grid-row: 2;
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    width: calc(var(--board-size) - 1px);
  }

  .boardWindow > .engineMinimal:first-child {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .boardWindow > .engineMinimal:last-child {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}
