.gameResultOverlay {
  background: rgba(0, 0, 0, 0.5);

  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;

  width: var(--board-size);
  height: var(--board-size);

  border-radius: 8px 0 0 8px;
}

.gameResultOverlay .result {
  font-size: 100px;
  font-weight: bold;
}

.gameResultOverlay .termination {
  font-size: 20px;
}

.linear-container .gameResultOverlay {
  border-radius: 0 !important;
}