.engineComponent {
  display: flex;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  overflow: hidden;
  height: 100%;
}

.engineComponent .engineLeftSection {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  width: var(--engine-card-info-width);
  min-width: var(--engine-card-info-width);
}

.engineComponent .engineLeftSection > hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
}

.engineComponent .engineName {
  font-weight: bold;
}

.engineComponent .engineInfoHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.engineComponent .engineEval {
  font-size: 1.2rem;
  font-weight: bold;
}

.engineComponent .engineInfoTable {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.25rem;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.engineComponent .engineField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engineComponent .engineField .key {
  color: #a1a1a1;
}

.engineComponent .engineField .value,
.engineComponent .enginePv,
.engineComponent .engineEval {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.engineComponent .engineField .value {
}

.engineComponent .board {
  border-radius: 4px;
  height: calc(var(--engine-card-height)) !important;
  width: calc(var(--engine-card-height)) !important;
}

.engineComponent .board cg-container {
  height: calc(var(--engine-card-height)) !important;
  width: calc(var(--engine-card-height)) !important;
}

.engineComponent .board cg-board {
  background-color: #8ca2ad;
  aspect-ratio: 1;
}

.engineComponent .movesWindow {
  overflow-y: auto;
  width: var(--engine-card-movelist-width);
  min-width: var(--engine-card-movelist-width);
}

.engineComponent .enginePv {
  --pv-rows: 3;
  line-height: 1rem;
  height: calc(var(--pv-rows) * 1rem);
  overflow: hidden;
  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
}

.engineComponent .enginePv .pvMove:first-child {
  margin-left: 1ch;
}

.engineComponent .enginePv,
.engineComponent .enginePv .pvMove {
  font-size: 0.9rem;
  color: #a1a1a1;
}

@media (max-width: 1150px) {
  .engineComponent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    height: auto;
    width: 100%;
  }

  .engineComponent .engineLeftSection {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    min-width: 0;
  }

  .engineComponent .board {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: var(--engine-card-width) !important;
    width: var(--engine-card-width) !important;
  }

  .engineComponent .board cg-container {
    height: var(--engine-card-width) !important;
    width: var(--engine-card-width) !important;
  }

  .engineComponent .movesWindow {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 775px) {
  .engineComponent {
    border: none;
    padding: 0;
  }
}
