.gameResultOverlay {
  background: rgba(0, 0, 0, 0.5);

  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
}

.gameResultOverlay .result {
  font-size: 100px;
  font-weight: bold;
}

.gameResultOverlay .termination {
  font-size: 20px;
}
