.gameGraph {
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}

@media (max-width: 1920px) {
  .gameGraph {
    grid-template-columns: 75px 1fr;
  }
}

.modeSelectorList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modeSelector {
  width: 100%;
}

.graphWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
}

@media (max-width: 775px) {
  .graphWindow {
    padding: 0 0.5rem !important;
  }

  .gameGraph {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 0;
  }

  .modeSelectorList {
    padding: 0.5rem 0rem;
    flex-direction: row;
    overflow: auto;
    gap: 0.25rem;
  }

  .modeSelector {
    width: fit-content;
    white-space: nowrap;
  }
}
