:root {
  --padding: 1.5vh;
  --gap: 1.5vh;
  --topbar-height: 3rem;
  --engine-card-info-width: calc(
    var(--engine-card-width) - var(--engine-board-width) -
      var(--engine-card-movelist-width)
  );
  --available-height: calc(
    100vh - 2 * var(--padding) - 2 * var(--gap) - var(--topbar-height)
  );

  --movelist-width: 180px;
  --board-size: min(
    var(--boardWidth) - var(--movelist-width),
    var(--boardHeight)
  );
  --board-wrapper-width: calc(var(--board-size) + var(--movelist-width));

  --engine-board-width: 15vw;
  --engine-kibitzer-height: 20rem;
  --engine-card-movelist-width: max(
    165px,
    calc(var(--engine-board-width) / 3.5)
  );
  --engine-card-width: calc(
    var(--engine-board-width) + var(--engine-card-movelist-width)
  );

  --font-sm: 0.9rem;
  --font-md: 0.95rem;
  --font-lg: 1rem;
  --font-xl: 1.15rem;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
}

.linear-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 320px 300px 600px auto;
  margin-top: 8px;
}

.linear-container > div {
  margin: 0 8px;
  width: calc(100vw - 16px);
}

.linear-container .boardWindow {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  height: auto;
  margin-bottom: 8px;
}

.linear-container .engineWindowMobile {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.linear-container .movesWindow {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: 200px;
  height: min-content;
}

.linear-container .graphWindow {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.linear-container .scheduleWindow {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.linear-container .standingsWindow {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  max-height: 400px;
  height: min-content;
  margin-bottom: 8px;
}

.app-container .grid-container {
  margin: 4px;
}

.topBar,
.scheduleWindow,
.standingsWindow,
.graphWindow,
.engineWindowMobile {
  position: relative;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #232323;
  padding: var(--gap);
  overflow: hidden;
}

.scheduleWindow,
.standingsWindow,
.graphWindow,
.engineWindow,
.boardWindow,
.engineWindowMobile {
  margin: 4px;
  max-height: calc(100% - 8px);
  height: calc(100% - 8px);
}

.engineWindowMobile {
  width: calc(100% - 8px) !important;
}

.topBar {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  padding: 0 var(--gap);
  margin: 8px;
  margin-bottom: 0 !important;
  height: calc(100% - 8px);
  gap: var(--gap);
  font-weight: bold;
}

@media (max-width: 775px) {
  .app-container {
    grid-template-rows: 88px 1fr;
  }

  .topBar {
    flex-wrap: wrap;
    padding: calc(0.5 * var(--gap)) !important;
    gap: calc(0.5 * var(--gap));
  }

  .topBar .settingsRow {
    width: 100%;
    flex-grow: 1;
  }

  .linear-container {
    max-height: 100%;
    width: 100vw;
    overflow-y: auto;
  }
}