:root,
body {
  margin: 0;
  padding: 0;
  font-family: "Sora", system-ui, sans-serif;
  box-sizing: border-box;

  background: #212121;
}

* {
  color: #fafafa;
}

h4 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button,
input {
  outline: none;
  border: 1px solid #232323;
  background: #323232;
  padding: 0.5rem 0.625rem;
  cursor: pointer;
  border-radius: 4px;
}

label {
  margin-bottom: 0.125rem;
  display: block;
  font-size: 0.9rem;
}

input {
  cursor: unset;
}

button:hover,
input:hover {
  background: #434343;
}

button.active {
  background: #4d4d4d;
}
